/* global */
* {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

:root {
    --maincolor: #ea460f;
}

/* global */


/* side navbar */
#offcanvas {
    top: 0;
    left: 0;
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: visible;
    background-color: black;
    color: white;
    background-clip: padding-box;
    outline: 0;
    transition: all 1s ease-in-out;
    transform: translateX(-100%);

}

#offcanvas ul {
    list-style: none;
}

#offcanvas ul li {
    padding: 12px 0;
}

#offcanvas ul a {
    text-decoration: none;
    color: white;
    transition: all .4s;
    font-size: 25px;
}

#offcanvas ul a:hover {
    color: var(--maincolor);

}

#btn-nav {
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 555555555555555;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
    font-size: 30px;
    color: white;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#btn-nav:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0)
}

#icon-close-btn {
    cursor: pointer;
    font-size: 25px;

}

@keyframes spin {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);

    }
}

/* side navbar */


/* home */
.bg-home {
    background-image: url(img/party-pg.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.bg-home h1 {
    font-size: 55px;
}

/* home */



/* singers */

#singers {
    margin-top: 100px;
    width: 70%;
}

#singers>div {
    margin-top: -30px;
}

#singers h2 {
    background-color: var(--maincolor);
    font-size: 25px;
    padding: 16px 3px;
    cursor: pointer;
    color: white;
}

#singers h2+p {
    position: relative;
    bottom: 8px;
    background-color: #ccc;
    padding: 20px;
}

/* singers */



/* duration */

.bg-duration {
    background-image: url(img/party-pg.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 60px 0;
    margin-top: 150px;


}

#duration span {
    width: 220px;
    display: inline-block;
   padding: 30px 0;
    border: 1px solid white;
    color: white;
    font-size: 30px;
}


/* duration */



/* contact */

#contact{
    margin-top: 100px;
}
#contact h2+p{
position: relative;
left: 30px;
width: 200%;
}


@media (min-width: 0px) and (max-width: 767px) {
    #contact h2+p{
        position: relative;
        left: 0px;
        width: 100%;
        }
        .contact-info{
            text-align: center;
        }
        #contact form{
            margin-top: 20px !important;
        }
}


#contact span>span{
    border: solid 	#999999 1px;
    width: 40px;
    height: 40px;
    display: inline-block;
 text-align: center;
    margin-right: 15px;
    cursor: pointer;
    color: #999999;
    transition: all .5s;
    margin-top: 25px;
}

#contact span>span:hover{
    background-color: var(--maincolor);
    color: white;
    border: solid 	transparent 1px;
}
#contact span>span i{
margin-top: 10px;
}

#contact form{
    margin-top: 110px;
}
#contact form button{
  background-color: var(--maincolor);
  color: white;
}
#contact .email{

  color:var(--maincolor) ;
}

/* contact */



